<!-- Tailwind TAGS -->
{% load tailwind_tags %}
<!--load static files -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Home - User Authentication App {% endblock title %}</title>
    <!-- TailwindCSS -->
    {% tailwind_css %}
    <!-- Flowbite -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />

</head>
<body>

    {% block body %}

    {% endblock body %}
    
    <!-- Scripts arena -->
    
    {% block scripts %}
        <!-- Flowbite -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
    {% endblock scripts %}
        
</body>
</html>