<!-- Tailwind TAGS -->
{% load tailwind_tags %}
<!--load static files -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Home - User Authentication App {% endblock title %}</title>
    <!--Box Icons styles -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- TailwindCSS -->
    {% tailwind_css %}
    <!-- Flowbite -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" /> -->

</head>
<body>

    <!-- Header -->
<header class="relative p-4 bg-fiveCol">

    <!--Flex-box container-->
    <div class="flex mx-auto items-center justify-between">
  
      <!--logo-->
      <div class="flex items-center space-x-2 md:space-x-2">
        <img src="{% static 'img/logo.png' %}" class="h-16 w-16" alt="">
        <span href="{% url 'index' %}" class="font-bold text-l text-primaryCol md:text-xl">User-Auth</span>
      </div>
  
      <!--Desktop Navigation-->
      <nav class="hidden text-secCol font-bold md:flex space-x-6">
        {% block nav-content %}
        <a class="hover:text-thirdCol" href="{% url 'index' %}">Home</a>
        <a class="hover:text-darkGrayBlue" href="">Services</a>
        <a class="hover:text-darkGrayBlue" href="">About</a>
        {% endblock nav-content %}
      </nav>
  
      
      {% block nav-btn %}
      
      {% if user.is_authenticated %}
      <!--Button-->
      <a href="" class="p-3 px-6 pt-2 text-white bg-primaryCol rounded-full baseline hover:bg-secCol hidden md:block">
        Logout
      </a>
        
      {% else %}
      <div class="flex items-center space-x-2">
        <!--Button-->
      <a class="py-2 px-4 pt-2 text-white bg-primaryCol rounded-md baseline cursor-pointer hover:bg-secCol hidden md:block" id="open-btn">
        Login
      </a>
      <!--Button-->
      <a href="" class="py-2 px-4 pt-2 text-white bg-primaryCol rounded-md baseline hover:bg-secCol hidden md:block">
        Sign up
      </a>
      </div>
      {% endif %}
      {% endblock nav-btn %}
        
      
  
      <!--Hamburger Icon-->
      <button id="menu-icon" class="hamburger block mt-4 md:hidden focus:outline-none">
        <span class="hamburger-top"></span>
        <span class="hamburger-middle"></span>
        <span class="hamburger-bottom"></span>
      </button>
  
    </div>
  
    <!--Mobile Navigation-->
    <nav id="menu" class="absolute flex-col items-center hidden self-end py-8 mt-6 space-y-6 font-bold bg-white sm:w-auto sm:self-center left-6 right-6 drop-shadow-md">
        
        {% if user.is_authenticated %}
        <a class="hover:text-darkGrayBlue" href="{% url 'index' %}">Home</a>
        <a class="hover:text-darkGrayBlue" href="">Services</a>
        <a class="hover:text-darkGrayBlue" href="">Log out</a>
        {% else %}
        <a class="hover:text-darkGrayBlue" id="open-btn">Login</a>
        <a class="hover:text-darkGrayBlue" href="">Sign Up</a>
        {% endif %}
    </nav>
  
  </header>

    <!-- Login Modal -->
            <div class="fixed hidden insert-0 bg-black w-full h-full bg-opacity-50 z-10" id="modal">

                <div class="relative mx-auto w-96 md:w-1/2 lg:w-1/3 z-20 m-8 shadow-lg top-20 bg-white rounded-lg p-8" >
                    <div class="mt-2">
                        <div class="flex justify-end mb-6">
                            <button>
                               <a href="" id="close-btn">
                                <span class="mr-2">Close</span>
                                <span>
                                    <i class="bx bx-x-circle"></i>
                                </span>
                               </a> 
                            </button>
                        </div>
        
                        <h1 class="text-center text-2xl text-primaryCol">Login</h1>
        
                        <form action="{% url 'signin_user' %}" class="pt-6 pb-2 my-2" method="post" autocomplete="off">
                            <!-- csrf_token -->
                            {% csrf_token %}
    
                            <div class="mb-4">
                                <label class="block text-sm font-bold mb-2" for="username">
                                    Username
                                </label>
                                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" name="username" id="username" type="text" placeholder="Enter Username">
                            </div>
                            <div class="mb-6">
                                <label class="block text-sm font-bold mb-2" for="password">
                                    Password
                                </label>
                                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-3" name="pass_one" id="pass_one" type="password" placeholder="Password">
                            </div>
                            <div class="block md:flex items-center justify-between">
                                <div>
                                    <button class="bg-green-500 hover:bg-green-800 text-white font-bold py-2 px-4 rounded border-b-4 border-b-green-900" type="submit">
                                        Sign In
                                    </button>
                                </div>
        
                                <div class="mt-4 md:mt-0">
                                    <a href="#" class="text-green no-underline">Forget Password?</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

    {% block body %}

    {% endblock body %}
    
  <!-- footer -->
  <footer class="bottom-0 p-4 bg-blue-900 rounded-none shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800">
    <span class="text-sm text-gray-300 sm:text-center dark:text-gray-400">© 2023 <a href="{% url 'index' %}" class="hover:underline">User-Auth™</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm text-fourCol dark:text-gray-400 sm:mt-0">
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
        </li>
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
        </li>
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6">Licensing</a>
        </li>
        <li>
            <a href="#" class="hover:underline">Contact</a>
        </li>
    </ul>
</footer>

    <!-- Scripts arena -->
    {% block scripts %}
        <!-- Site Script -->
        <script src="{% static 'js/app.js' %}"></script>
     {% endblock scripts %}
        
</body>
</html>