{% extends 'base.html' %}

<!-- Page title -->
{% block title %}  Login  {% endblock title %} 

<!-- Page body -->
{% block body %}

<h1>User Login</h1>

    
    {% for message in messages %}
        <div class="alert alert-{{message.tags}}">{{message}}</div>
    {% endfor %}
    

<!-- form container -->
<div class="container">

    <!-- form -->
    <form action="{% url 'signin_user' %}" method="post">
        <!-- csrf token -->
        {% csrf_token %}

        <label for="">Username</label><br>
        <input type="text" name="username" id="username"><br>

        
        <label for="">Password</label><br>
        <input type="password" name="pass_one" id="pass_one"><br><br>

        <button type="submit">
            Sign In
        </button>

    </form>
</div>
    
{% endblock body %}